.for_image {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
    background-size: cover;
    width: 700px;
    margin: 0 auto; /* Center horizontally */
}

.container{
    text-align: center;
    padding: 40px;
    background: #fff;
    font-family: 'Arvo', serif;
}

.for{
font-size: 80px;
}
.lost{
font-size: 30px;
}
.box{
    padding: 0;
    margin-top: -50px;}

    .but{
        color:#fff;
        margin: 20px 0;
        padding: 10px 20px;
                background: #39ac31;
        display: inline-block;

        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
button a {
    color: white;
   }





    @media (max-width: 600px) {
        .for_image {
            height: 250px;
            width: 100%;
            max-width: 100%;
            margin: 0 auto;
        }
    }
    


    
   
